.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background: #1B8C3E;
  color: white;
  padding: 0 1rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuBtn {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}